


		
	
			<!-- SLIDER -->
			<div class="slider-wrapper theme-halftone">
	            <div id="slider" class="nivoSlider">
	                <%= image_tag "see_imgs/see_banner.png" %>
	               	<%= image_tag "see_imgs/banner2.png" %>
	            </div>
	            <div class="slider-left"></div>
	            <div class="slider-right"></div>
	        </div>
			<!-- ENDS SLIDER -->
			
			
			<!-- headline -->
			<div class="headline">Engineering Through a Different Lens</div>
			<!-- ENDS headline -->
			
  			
			<!-- featured -->

		<div class="main_video" align="center">
			<iframe width="560" height="315" src="//www.youtube.com/embed/Mwvl0QwfTEk" frameborder="0" allowfullscreen></iframe>
		</div>

			<!-- ENDS featured -->
			
		
